<div id="album" n:if=$album>
<a href="{plink :Photo:Album:view $album->slug}" target="_blank" title="{$album->text|truncate:70}">{$album->name}
    <ul n:if="isset($photos)" n:inner-foreach="$photos as $photo" class="photoList">
        <li><img src="{$baseUrl}/{$photo|thumb}" width="150" height="100" alt="{$photo->filename}"></li>
    </ul>
</a>

<div class="popis">
    <span class="no-wrap"><b>Počet fotografií:</b> {$pocet}</span>
    <span class="no-wrap" title="{$album->date|date:'%d. %B %Y'}"><b>Datum:</b> <time datetime="{$album->date|date:'Y-m-d'}">{$album->date|timeAgoInWords}</time></span>
    <span class="no-wrap"
          title="{$album->date_add|date:'%d. %B %Y %H:%M'}"><b>Přidáno:</b> <time datetime="{$album->date_add|datetimeC}">{$album->date_add|timeAgoInWords}</time></span>
    <span class="no-wrap"
          title="{$album->date_update|date:'%d. %B %Y %H:%M'}" n:if="$album->date_update != $album->date_add"><b>Upraveno:</b> <time datetime="{$album->date_update|datetimeC}">{$album->date_update|timeAgoInWords}</time></span>
    <span class="no-wrap"><b>{if $album->visible}Viditelné veřejnosti{else}Neviditelné pro veřejnost{/if}</b></span>
</div>
</div>