<div class="list_component">
<h3>{if $org} Organizátoři <span class="icon icon-user-o"></span>{else}Účastníci <span class="icon icon-user"></span>{/if}</h3>
{snippet memberList}

<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

{if $user->isInRole('member')}
{if $akce->date_start > date_create()}
{if $isAllowLogin}
	{if !$isLogged}
	<a n:href="logSelf!" class="buttonLike ajax"><span class="icon-ok"></span> Přihlásit se</a>
	{else}
	<a n:href="unlogSelf!" class="buttonLike ajax"><span class="icon-cancel"></span> Odhlásit se</a>
	{/if}
{else}	
	{if !$isLogged}
	<span class="buttonLike gray"><span class="icon-ok"></span> Přihlásit se</span>
	{else}
	<span class="buttonLike gray"><span class="icon-cancel"></span> Odhlásit se</span>
	{/if}
{/if}
{/if}
{/if}

<ol n:if="$members" class="member_list">
{foreach $members as $member}
    <li>
		{*<a n:if="(($userIsOrg)and($user->isInRole('member')))or($user->isInRole('admin'))" class="icon-cancel char red ajax" n:href="unlog!, $member->id" title="Odhlásit člena"></a>*}
        {*{$iterator->getCounter()}.*}
        <a n:tag-if="($member->role)or($user->isInRole('board'))" n:class="$member->id == $user->id ? logged" href="{plink Member:view, $member->id}">{$member->surname} {$member->name}</a>
    </li>    
{/foreach}
</ol>

{if $user->isInRole('member')and(($userIsOrg)or($user->isInRole('admin')))}
<a id="change-{$org|number}-button" href="javascript:unfold('change-{$org|number}')" class="buttonLike"><span class="icon-pencil"> upravit</a>
<div id="change-{$org|number}-form" class="hide">
	<p>{control logginForm}</p>
	<p>{control unLogginForm}</p>
</div>
{/if}

{/snippet}
</div>