{import '../templates/@svg.latte'}
{import '../templates/@copy.latte'}

<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

<div id="posts" n:inner-foreach="$posts as $post">
    <div id="post/{$post->id}" n:class="post, target, ($post->date_add > $user->getIdentity()->date_last) ? 'new', ($user->id == $post->user_id) ? logged">
        <div class="top headerLike">
            <a class="float-right" href="{plink Forum:post $post->id}" title="{$post->date_add|timeAgoInWords}">
                {include svg comments} <time datetime="{$post->date_add|datetimeC}">{$post->date_add|datetime}</time>
            </a>
            <a n:tag-if="$post->user->role" href="{plink User:view $post->user_id}" title="profil uživatele">
                <strong>
                    {$post->user->surname} {$post->user->name}
                    {include svg user}
                </strong>
            </a>
        </div>

        <div class="message">
			{include copy $post->text}
			{if !$search}{$post->text|forumTexy|noescape}{else}{$post->text|replace:$search:"<mark>$search</mark>"|forumTexy|noescape}{/if}
        </div>

        {var $isTopic = ($post->id == $post->forum_topic_id)}
        {var $isUpdated = ($post->date_add != $post->date_update)}
        {var $isAllow = (($user->id == $post->user_id) or ($user->isInRole('admin')))}

        <div class="bottom">
            <div class="buttons float-right" n:if="(!$isLocked or $isTopic)and($user->isInRole('member'))">
            {if $isTopic and $isAllow}
                {if $isLocked}
                    <a class="buttonLike" href="{plink Forum:lockTopic $post->id,0}">
                        {include svg unlock-alt} odemknout
                    </a>
                {else}
                    <a class="buttonLike" href="{plink Forum:lockTopic $post->id,1}">
                        {include svg lock} zamknout
                    </a>
                {/if}
            {/if}

            {if !$isLocked}
                {if $isAllow}
                    <a class="buttonLike confirm" data-query="Opravdu chete příspěvek smazat?" href="{plink Forum:delete $post->id}">{include svg trash} smazat</a>
                    <a class="buttonLike" href="{plink Forum:edit $post->id}">{include svg pencil} editovat</a>
                {/if}
                <a class="buttonLike" href="{plink Forum:cite $post->id}">{include svg quote-left} citace</a>
            {/if}
            </div>

			<div n:if="$isUpdated" class="update" title="{$post->date_update|timeAgoInWords}">
				Upraveno <time datetime="{$post->date_update|datetimeC}">{$post->date_update|datetime}</time>
			</div>

		</div>
		<div class="clearfix"></div>
	</div>
</div>