{import '../templates/@svg.latte'}

<script type="text/javascript" n:nonce>
	$(function () {
		$.nette.init();

		$('#change-button').click(function() {
			$('#change-form').show();
			$('#change-button').hide();
		})
	});
</script>

{define #userList}
	<p n:if="($akce->date_deatline > date_create())and($user->isInRole('member'))">
		{if $isAllowLogin}
			{if !$isLogged}
				<a n:href="logSelf! $isOrg" class="buttonLike ajax">{include svg check} Přihlásit se</a>
			{else}
				<a n:href="unlogSelf! $isOrg" class="buttonLike ajax">{include svg close} Odhlásit se</a>
			{/if}
		{else}
			{if !$isLogged}
				<span class="buttonLike gray">{include svg check} Přihlásit se</span>
			{else}
				<span class="buttonLike gray">{include svg close} Odhlásit se</span>
			{/if}
		{/if}
	</p>

	<ol n:if="$items" class="member_list">
		<li n:foreach="$items->where('organizator', $isOrg)->order('date_add') as $item" title="Přihlášen {$item->date_add|date:'d.m.Y'}">
			<a n:tag-if="$item->user->role" n:class="$item->user->id == $user->id ? logged" href="{plink User:view, $item->user->id}">{$item->user->surname} {$item->user->name}</a>
		</li>
	</ol>
{/define}

{snippet signEventControl}
<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

<div class="float-left list-component">
	<h3>Účastníci {include svg user-o}</h3>
	{include #userList isOrg => FALSE, isAllowLogin => $isUserAllow, isLogged => $userIsInUserList, items => clone $items}
</div>

<div class="float-left list-component">
	<h3>Organizátoři {include svg user}</span></h3>
	{include #userList isOrg => TRUE, isAllowLogin => $isOrgAllow, isLogged => $userIsInOrgList}
</div>
{/snippet}

<div class="clearfix"></div>

{if $user->isInRole('member')and(($userIsInOrgList)or($user->isInRole('admin')))}
	<button id="change-button" class="buttonLike">{include svg group} upravit účastníky</button>
	<div id="change-form" class="hide">
		<h3>Upravit účastníky</h3>
		<div n:snippet="logginForm">
			{form logginForm class => ajax}
				{input member}
				{input organizator}
				<button n:name="ok" class="buttonLike">
					{include svg user-plus} přidat
				</button>
			{/form}
		</div>
		<p></p>
		<div n:snippet="unLogginForm" n:if="$hasUsers">
			{form unLogginForm class => ajax}
			{input member}
			<button n:name="ok" class="buttonLike">
				{include svg user-times} odebrat
			</button>
			{/form}
		</div>
	</div>
{/if}
