{import '../templates/@svg.latte'}

<table id="items">
    <tr class="first"><th>{*Téma*}</th><th class="post">Poslední příspěvek</th><th>Autor</th><th class="count"></th></tr>
    {foreach $topics as $topic}
        {var $post = $topic->related('forum_post', 'forum_topic_id')->where('NOT row_number', 0)->where('id <> forum_topic_id')->order('row_number DESC')->fetch()}
        {var $postCount = $post ? ($post->row_number - 1) : 0}

        <tr n:class="topic, hoverLike, (($post)and($post->date_add > $user->getIdentity()->date_last)) ? 'new',
	 (($post)and($post->member_id == $user->getId())) ? logged, $topic->member_id == $user->getId() ? logged">

            <td class="col title">
                <div class="headerLike">
                    <a title="{$topic->title|firstUpper}{if $topic->locked} (uzamčeno){/if}" href="{plink Forum:topic,$topic->id}">
                        <strong>{if $topic->locked}{include svg icon => lock}{/if}
                            {if !$search}{$topic->title|firstUpper}{else}{$topic->title|replace:$search:'<em class="highlight">'.$search.'</em>'|firstUpper|noescape}{/if}
                        </strong>
                    </a>

                    <span n:if="(isset($postPerPage))and($postCount > $postPerPage) and ($postCount/$postPerPage < 6)" class="no-wrap" >
				        [ {for $i = 1; $i <= ceil($postCount/$postPerPage); $i++} <a href="{plink Forum:topic, $topic->id, vp-page => $i}">{$i}</a>{/for} ]
			        </span>
                </div>
            </td>

            <td class="col post right">
                {if $post}
                    <div class="no-wrap">
                        {$post->member->surname} {$post->member->name}
                    </div>
                    <div class="no-wrap">
                        <a title="{$post->date_add|timeAgoInWords}" href="{plink Forum:post, $post->id}">
							{include svg icon => comments-o} {$post->date_add|date:'%d.%m.%Y %H:%M'}
						<a>
                    </div>
                {/if}
            </td>

            <td class="col author right">
                <div class="no-wrap">
                    <a n:tag-if="$topic->member->role" title="profil uživatele" href="{plink User:view $topic->member_id}">
						{include svg icon => user-o} {$topic->member->surname} {$topic->member->name}
                    </a>
                </div>
                <div class="no-wrap">
                    {$topic->date_add|date:'%d.%m.%Y %H:%M'}
                </div>
            </td>

            <td class="count center">{$postCount}</td>
        </tr>
    {/foreach}
</table>
