<script type="application/javascript">
    function more(id) {
        document.getElementById('rating-preview-'+id).classList.add('hide');
        document.getElementById('rating-message-'+id).classList.remove('hide');
    }
    function editRating(id) {
        document.getElementById('rating-edit-sign').classList.add('hide');
        document.getElementById('rating-edit-area').classList.remove('hide');

        document.getElementById('rating-'+id).classList.add('hide');
    }
</script>

{if isset($ratings)and($ratings)}
    <h3 id="rating">Hodnocení <span class="icon icon-star"></span></h3>
    <div n:if="isset($rating_stars)"><span class="stars">{$rating_stars|stars}</span> ({$rating_count})</div>
    <div id="ratings">
        {var $limit = 100}
        {foreach $ratings as $memberId => $rating}
            <div class="hoverLike target" id="rating-{$memberId}" n:if="($rating->public)or($isOrg)or($memberId == $user->id)">
                {if ($rating->rating)or($rating->message)}
                    <h4>
                        {if !$rating->anonymous}
                            <a href="{plink Member:view $memberId}"><span class="icon-user"></span> {$rating->member->surname} {$rating->member->name}</a>
                        {else}
                            Anonymní:
                        {/if}
                        <span n:if="$rating->rating" class="stars">{$rating->rating|stars}</span>
                    </h4>

                    {if $rating->message}
                        <div id="rating-preview-{$memberId}" class="preview">
                            <a n:tag-if="mb_strlen($rating->message) > $limit" href="javascript:more({$memberId})" class="noLink">
                                {$rating->message|nl2br|noescape|truncate:$limit}
                            </a>
                            <a n:if="mb_strlen($rating->message) > $limit" class="more" href="javascript:more({$memberId})">Více</a>
                        </div>
                        <div n:if="mb_strlen($rating->message) > $limit" id="rating-message-{$memberId}" class="hide message">{$rating->message|texy|noescape}</div>
                    {/if}
                {/if}
            </div>
        {/foreach}
    </div>
{/if}

{if $canComment}
    <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

    <h3>Moje hodnocení <span class="icon icon-star-empty"></span></h3>

    <p id="rating-edit-sign" n:if="$myrating"><a class="buttonLike" href="javascript:editRating({$user->id})"><span class="icon-pencil"></span> editovat</a></p>

    <div id="rating-edit-area" n:class="$myrating ? hide">
    {form ratingForm}
            <ul class="error" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>

            <div class="float_right">{input ok}</div>
            <p>
                <span id="stars">
                    <span id="check-star" n:inner-foreach="$form[rating]->items as $key => $label"><input n:name="rating:$key"><label n:name="rating:$key"></label></span>
                </span>
                <span class="no-wrap">{label public /}{input public} {label anonymous /}{input anonymous}</span>
            </p>
            <p>{input message}</p>
        {/form}
    </div>
{/if}