parameters:
	database:
		default:
			driver: mysql
			host: localhost
			dbname: vzsjablonec
			user: root
			password:
		photo:
			driver: mysql
			host: localhost
			dbname: photo
			user: root
			password:
		wordpress:
			driver: mysql
			host: localhost
			dbname: wordpress
			user: root
			password:
	google:
		account: info@vzs-jablonec.cz
		login:
			clientId: 698488418952-95tac0912e96pdk6mlhme3i143i5kgvg.apps.googleusercontent.com
			clientSecret: 123456789
			callbackURL: http://localhost/vzsjablonec/member/sign/googlelogin
	facebook:
		login:
			appId: 129653264393659
			appSecret: 987654321
			callbackURL: http://localhost/vzsjablonec/member/sign/facebooklogin
			defaultFbGraphVersion: 'v2.11'

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

database:  
	default:  
		dsn: '%database.default.driver%:host=%database.default.host%;dbname=%database.default.dbname%'
		user: %database.default.user%
		password: %database.default.password%
	photo:
		dsn: '%database.photo.driver%:host=%database.photo.host%;dbname=%database.photo.dbname%'
		user: %database.photo.user%
		password: %database.photo.password%
	wordpress:
		dsn: '%database.wordpress.driver%:host=%database.wordpress.host%;dbname=%database.wordpress.dbname%'
		user: %database.wordpress.user%
		password: %database.wordpress.password%

php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes

session:
    autoStart: true
    savePath: "%tempDir%/../session"
    gc_maxlifetime: 21600

services:
	router: RouterFactory::createRouter
	nette.latteFactory:
		setup:
			- addFilter(null, App\Template\LatteFilters::loader)

	- App\Authenticator\SsoAuthenticator
	- App\Authenticator\CredentialsAuthenticator
	- App\Authenticator\EmailAuthenticator
	- App\SignModule\StateCryptor({google: %google.login%, facebook: %facebook.login%})

	- App\Model\AkceService
	- App\Model\ForumService
	- App\Model\UserService
	- App\Model\DokumentyService
	- App\Model\AnketyService
	- App\Model\RatingService
	- App\Model\MessageService
	- App\Model\HlasovaniService
	- App\Model\GalleryService(@database.photo.context)
	- App\Model\WordpressService(@database.wordpress.context)

	googleClient:
		class: Google_Client
		setup:
			- setAuthConfig("%appDir%/config/google_api_service.json")
			- setSubject(%google.account%)
			- setScopes([
				Google_Service_Drive::DRIVE_READONLY
				Google_Service_Calendar::CALENDAR
				Google_Service_People::CONTACTS
			])
			- setCache(Stash\Pool(Stash\Driver\FileSystem([path: "%tempDir%/stash"])))

	- Google_Service_Drive
	- Google_Service_Calendar
	- Google_Service_People

	googleLogin:
		class: Vencax\GoogleLogin(%google.login%, "vzsjablonec-social-login")
		setup:
			- setScope([
				Google_Service_Plus::PLUS_ME
				Google_Service_Plus::USERINFO_EMAIL
			])

	facebookLogin:
		class: Vencax\FacebookLogin(%facebook.login%, "vzsjablonec-social-login")
		setup:
			- setScope([Vencax\FacebookLogin::EMAIL])

extensions:
	- WebChemistry\Forms\Controls\DI\MultiplierExtension
	- Echo511\Plupload\DI\PluploadExtension