parameters:
	database:
		driver: mysql
		host: localhost
		dbname: vzsjablonec
		user: root
		password:
	photo:
		driver: mysql
		host: localhost
		dbname: photo
		user: root
		password:
	wordpress:
		driver: mysql
		host: localhost
		dbname: wordpress
		user: root
		password:
	google:
		application_name: 'VZS Jablonec'
		client_id: 432022277214.apps.googleusercontent.com
		client_secret: zmLGsBKelZuVsk1HsZo7iSUM
		developer_key: AIzaSyCBTFWZdN6hCDZAK37vc_R7fw5EDGpsaNc
		private_calendar_id: vzs-jablonec.cz_i8von9ml9om2rbam3mv5v3efs0@group.calendar.google.com
		public_calendar_id: vzs-jablonec.cz_n60ur3k3jf2mp02oilih2ghnro@group.calendar.google.com


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

database:  
	default:  
		dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
		user: %database.user%		
		password: %database.password%

	wordpress:  
		dsn: '%wordpress.driver%:host=%wordpress.host%;dbname=%wordpress.dbname%'
		user: %wordpress.user%		
		password: %wordpress.password%
	
	photogalery:  
		dsn: '%photo.driver%:host=%photo.host%;dbname=%photo.dbname%'
		user: %photo.user%		
		password: %photo.password%

session:
	expiration: 14 days


php:
	date.timezone: Europe/Prague		
	session.save_path: "%tempDir%/../session"
	zlib.output_compression: yes


services:
	authenticator: App\Model\Authenticator

	router: RouterFactory::createRouter

	- App\Model\AkceService
	- App\Model\ForumService
	- App\Model\MemberService
	- App\Model\DokumentyService
	- App\Model\AnketyService
	- App\Model\RatingService
	- App\Model\TimesService
	- App\Model\HlasovaniService
	- App\Model\GalleryService(@database.photogalery.context)
	- App\Model\WordpressService(@database.wordpress.context)

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	- WebChemistry\Forms\Controls\DI\MultiplierExtension
	- Echo511\Plupload\DI\PluploadExtension

console:
    url: http://www.kdyby.org