parameters:
	database:
		default:
			driver: mysql
			host: localhost
			dbname: vzsjablonec
			user: root
			password:
		wordpress:
			driver: mysql
			host: localhost
			dbname: wordpress
			user: root
			password:
	redis:
		host: localhost
		port: 6379
	sso:
		secret: gC4kWZXJxqLAEB0afYqmcgAp1WVemzfpSfSdfZVr
	oauth:
		62fa87e3d1a76-gallery:
			secret: 'uO5iZ-irO5s-vsX11YwZuEsyHm9sLvx0nP3'
			redirectUrl:
				- 'https://gallery.vzs-jablonec.lh/sign/o-auth'
	google:
		account: 'info@vzs-jablonec.cz'
		driveDir: olqBGlusVSO2QWsuaOq0WpazaQqK
		login:
			clientId: '698488418952-95tac0912e96pdk6mlhme3i143i5kgvg.apps.googleusercontent.com'
			clientSecret: 123456789
			callbackURL: 'http://localhost/vzsjablonec/www/vzsjablonec/account/sign/googlelogin'
		youtube:
		    channel: 'UCR9cGiK9bpjsOBB3OjBOkDg'
		    key: 'fdgjklfgjsfjlgnsldgmdslkgjaslvljasd'
	facebook:
		login:
			appId: 129653264393659
			appSecret: 987654321
			callbackURL: 'http://localhost/vzsjablonec/www/vzsjablonec/account/sign/facebooklogin'
			defaultFbGraphVersion: 'v2.11'
	recaptcha:
		siteKey: GrcZy3jKLti1aKGi0hLJuaRxBX3rxOxcb44p5rZV
		secretKey: kKtcntSs85ITBXqZVwwZTFMVPb6xcRCTrmokMTWF
	idoklad:
		clientId: '12345678-abcd-efgh-ijkl-098765432100'
		clientSecret: '98765432-lkji-hgfe-dcba-001234567890'
		redirectUri: ''
		credentialsFile: '%tempDir%/idoklad/credentials.json'
		memberNumericSequence: 1249547
	gallery:
		galleryUrl: 'https://photo.vzs-jablonec.lh'
		albumUrl: album
		albumDir: albums
		thumbDir: small
	mail:
		account: %google.account%
		title: 'VZS Jablonec'
		board: 'predstavenstvo@vzs-jablonec.cz'
	messenger:
		botID: 317919538845792
		url: 'http://localhost/vzsjablonec/messenger'
	chat:
		url: https://chat.googleapis.com/v1/spaces
		space: AAAAJNSjszs
		key: rWawgHbVOe3RWpLNnAkfSOojuIZ1Cy3KI8QIYbR1
		token: ucMJ2jIXeuTPSZc5t2lTain8zOdA9oy7vA3N7bxN
		active: false
	evidsoft:
		url: https://www.vzs.evidsoft.cz/admin/
		username: info@vzs-jablonec.cz
		password: EWsdsrGRaFTGrteAWaw
	menu:
		news:
			title: 'novinky'
			action: 'News:'
			current: 'News:*'
			role: user
			icon: home
		events:
			title: 'akce'
			action: 'Akce:'
			current: 'Akce:*'
			role: user
			icon: calendar
		forum:
			title: 'forum'
			action: 'Forum:'
			current: 'Forum:*'
			role: user
			icon: comments-o
		users:
			title: 'adresář'
			action: 'User:'
			current: 'User:*'
			role: user
			icon: address-book-o
		documents:
			title: 'dokumenty'
			action: 'Dokumenty:'
			current: 'Dokumenty:*'
			role: user
			icon: file-text-o
		pools:
			title: 'ankety'
			action: 'Ankety:'
			current: 'Ankety:*'
			role: member
			icon: list-ul
		voting:
			title: 'hlasovani'
			action: 'Hlasovani:'
			current: 'Hlasovani:*'
			role: member
			icon: balance-scale
		attendance:
			title: 'docházka'
			action: 'Attendance:'
			current: 'Attendance:*'
			role: member
			icon: calendar-check-o
		service:
			title: 'služba'
			action: 'ServiceRecord:'
			current: 'ServiceRecord:*'
			role: member
			icon: life-bouy
		messages:
			title: 'zprávy'
			action: 'Mail:'
			current: 'Mail:*'
			role: member
			icon: envelope-o
		gallery:
			title: 'galerie'
			link: %gallery.galleryUrl%/album
			role: user
			icon: image
		eshop:
			title: 'eshop'
			link: 'https://eshop.vzs-jablonec.cz'
			role: user
			icon: shopping-cart

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

database:  
	default:  
		dsn: '%database.default.driver%:host=%database.default.host%;dbname=%database.default.dbname%'
		user: %database.default.user%
		password: %database.default.password%
	wordpress:
		dsn: '%database.wordpress.driver%:host=%database.wordpress.host%;dbname=%database.wordpress.dbname%'
		user: %database.wordpress.user%
		password: %database.wordpress.password%

php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes

session:
	autoStart: smart
	savePath: %tempDir%/../session
	expiration: 14 days
	gc_maxlifetime: 1296000
	cookie_secure: true

http:
	sameSiteProtection: yes
	headers:
		X-Content-Type-Options: nosniff
	csp:
		script-src:
			- self
			- nonce
		style-src:
			- self
			- unsafe-inline
		form-action: self
		frame-ancestors: none
		base-uri: none


routing:
	cache: true

services:
	router: RouterFactory::createRouter

	nette.latteFactory:
		setup:
			- addFilterLoader([App\Template\LatteFilters(), loader])

	nette.mailer:
		class: Nette\Mail\IMailer
		factory: App\Mailer\GmailMailer

	- App\Authenticator\SsoAuthenticator(%sso.secret%)
	- App\Authenticator\CredentialsAuthenticator
	- App\Authenticator\EmailAuthenticator
	- App\AccountModule\StateCryptor({google: %google.login%, facebook: %facebook.login%})

	- App\MemberModule\Forms\UserFormFactory
	- App\MemberModule\Components\Menu(%menu%)

	- App\Model\AkceService
	- App\Model\ForumService
	- App\Model\UserService
	- App\Model\DokumentyService
	- App\Model\IdokladService(%idoklad.credentialsFile%, %idoklad.memberNumericSequence%)
	- App\Model\AttendanceService
	- App\Model\AchievementsService
	- App\Model\AddressesService
	- App\Model\AnketyService
	- App\Model\RatingService
	- App\Model\BillingService
	- App\Model\MessageService
	- App\Model\HlasovaniService
	- App\Model\InvoiceService
	- App\Model\GalleryService
	- App\Model\WordpressService(@database.wordpress.context)
	- App\Model\YoutubeService
	- App\Model\RecordService(%appDir%/../records)

	- App\AccountModule\RedisService(%redis.host%, %redis.port%)
	- App\AccountModule\OauthService(%oauth%)

	- App\Model\ImageService(%gallery.galleryUrl%, %gallery.albumUrl%, %gallery.albumDir%, %gallery.thumbDir%)

	- App\Model\ChatService(%chat.url%, %chat.space%, %chat.key%, %chat.token%, %chat.active%)
	- App\Model\EvidsoftService(%evidsoft.url%, %evidsoft.username%, %evidsoft.password%)

	- App\Console\CalendarCommand
	- App\Console\DriveCommand(%google.driveDir%)
	- App\Console\IDokladCommand
	- App\Console\InvoiceCommand
	- App\Console\EvidsoftCommand
	- App\Console\MessageCommand(%mail%, %messenger%, %wwwDir%)
	- App\Console\PeopleCommand
	- App\Console\AchievementCommand
	- App\Console\CompleteAddressCommand
	- App\Console\YoutubeCommand(%google.youtube.channel%)
	- App\Console\MembershipFeesCommand(clientId: %idoklad.clientId%, clientSecret: %idoklad.clientSecret%)

	googleClient:
		class: Google_Client
		setup:
			- setAuthConfig(%appDir%/config/google_api_service.json)
			- setSubject(%google.account%)
			- setScopes([
				https://www.googleapis.com/auth/drive.readonly
				https://www.googleapis.com/auth/calendar
				https://www.googleapis.com/auth/contacts
				https://www.googleapis.com/auth/gmail.send
				https://www.google.com/m8/feeds/contacts/
				#https://www.googleapis.com/auth/admin.directory.user
			])
			- setCache(Stash\Pool(Stash\Driver\FileSystem([path: %tempDir%/stash])))

	googleYouTubeClient:
		class: Google_Client
		autowired: false
		setup:
		    - setDeveloperKey(%google.youtube.key%)

	- Google_Service_Drive(@googleClient)
	- Google_Service_Calendar(@googleClient)
	- Google_Service_PeopleService(@googleClient)
	- Google_Service_Gmail(@googleClient)
	- Google_Service_YouTube(@googleYouTubeClient)

	googleLogin:
		class: Vencax\GoogleLogin(%google.login%, vzsjablonec-social-login)
		setup:
			- setScope([
				https://www.googleapis.com/auth/plus.me
				#https://www.googleapis.com/auth/openid
				https://www.googleapis.com/auth/userinfo.email
			])

	facebookLogin:
		class: Vencax\FacebookLogin(%facebook.login%, vzsjablonec-social-login)
		setup:
			- setScope([Vencax\FacebookLogin::EMAIL])

	idoklad: malcanek\iDoklad\iDoklad(%idoklad.clientId%, %idoklad.clientSecret%, %idoklad.redirectUri%)

extensions:
	- WebChemistry\Forms\Controls\DI\MultiplierExtension
	- Echo511\Plupload\DI\PluploadExtension
	recaptcha: Contributte\ReCaptcha\DI\ReCaptchaExtension
	console: Contributte\Console\DI\ConsoleExtension

recaptcha:
	siteKey: %recaptcha.siteKey%
	secretKey: %recaptcha.secretKey%

console:
	name: Vzs Jablonec
	url: https://member.vzs-jablonec.cz
	catchExceptions: false
