{block #content}

<h2 n:block="title">Přihlášení</h2>

<style type="text/css" n:syntax="off">
    form th { text-align: left }
</style>

{if $backlink}
<p>Pro přístup do zabezpešené části fotografie se musíte přihlásit!</p>
{else}
<p>Po přihlášení můžete do galerie nahrávat nové fotky, uprovat alba a také prohlížet alba i fotografie, které jsou neviditelné pro veřejnost.</p>
{/if}

{control signInForm}

{/block}
  
  