table#items {border-collapse: collapse; width: 100%;}

table#items .title .headerLike {border-radius: 0 0 1em 1em; padding: 1ex; margin-bottom: 1ex; }
table#items tr.topic {border-top: 1px solid gray;}
table#items tr, table#items td {padding: 0}

table#items .count, table#items .author, table#items .post {padding: 0 1ex;}

#frm-addTopicForm table {width: 100%; margin: 0 auto;}
#frm-addTopicForm-title {width: 99%}
#frm-addTopicForm table td textarea {width: 100%}

#frm-addPostForm table { width: 100%; margin: 0 auto; }
#frm-addPostForm table td textarea { width: 100% }

.inline-nav {list-style-type: none; padding: 0; margin-bottom: 1ex;}
.inline-nav li {display: inline;}

.paginator {line-height: 2em;}
.paginator .buttonLike {line-height: 1.2em;}
