.inline-nav {list-style-type: none; padding: 0; margin-bottom: 1ex;}
.inline-nav li {display: inline; font-size: 2ex;}

.paginator {line-height: 2em;}
.paginator .buttonLike {line-height: 1.2em;}

.forum_post h1 {font-size: 16px;} 
.forum_post h2 {font-size: 14px;} 
.forum_post h3 {font-size: 12px;} 

.forum_post blockquote {margin: 0 1em 0 1em; border-left: 2px solid #0089d2; background-color: #e6f3f7; padding-left: 15px;}