{layout '@mail_layout.latte'}
{contentType text/html; charset=utf-8}
{block content}
    <p>Zdravím</p>

    <p>Na web byla přidána následující akce:</p>

    <strong>{$akce->name}</strong>
    <p>{$akce->perex|noescape|texy}</p>
    <p>Tato akce není schválena a čeká na Vaše potvrzení.</p>

    <p>Akci najdete na adrese <a n:href="//Akce:view,$akce->id">{link //Akce:view,$akce->id}</a></p>

    <p>Prosím navštivte co nejdříve stránku akce, aby bylo možno se na akci přihlásit.</p>
{/block}