{layout layout.latte}
{block text}
{var $mail->subject = '[VZS Jablonec] Nové heslo'}
Zdravím.

Ze stránek VZS Jablonec nad Nisou byla vytvořena žádost o obnovu hesla.

Nové přístupové údaje do členské části:

Přihlašovací jméno: {$member->login}
Heslo: {$password}

Svůj profil najdeš na adrese: {link //Member:profile}
Zde si můžeš změnit heslo a upravit své osobní údaje.

Vstup na stránky pro členy: {link //Akce:default}
{/block}