{contentType text/plain; charset=utf-8}
{include text}
_____________________________________________________________
Tato zpráva byla automaticky vygenerována informačním systémem
VZS Jablonec nad Nisou a není třeba na ni odpovídat
https://member.vzs-jablonec.cz/