{layout layout.latte}
{block text}
{var $mail->subject = '[VZS Jablonec] Soubor s výsledky hlasování byl aktualizován'}
Zdravím.

Dnes {$datum|date:'%d.%m.%Y'} v {$datum|date:'H:i'} byl na náš web nahrán aktualizovaný soubor s hlasováním představentstva.

Tento nový soubor najdete v příloze.
{/block}