{contentType text/plain; charset=utf-8}
{$text}

_____________________________________________________________
zpráva odeslána z informačního systému VZS Jablonec nad Nisou
http://member.vzs-jablonec.cz/
