{contentType text/plain; charset=utf-8}
{$text}

_____________________________________________________________
Zpráva odeslána z informačního systému VZS Jablonec nad Nisou
https://member.vzs-jablonec.cz/