{layout '@mail_layout.latte'}
{block text}
{var $mail->subject = '[VZS Jablonec] Vítejte v informačním systému VZS Jablonec nad Nisou'}
Zdravím.

Právě si byl zaregistrován do systému Pobočného spolku VZS Jablonec nad Nisou.

Zde jsou tvé přihlašovací údaje:

Přihlašovací jméno: {$member->login}
Heslo: {$member->password}

Svůj profil najdeš na adrese: {link //Member:profile}
Zde si můžeš změnit heslo a upravit své osobní údaje.

Vstup na stránky pro členy: {link //Akce:default}
{/block}