{contentType text/plain; charset=utf-8}
{var $mail->subject = '[VZS Jablonec] Obnova hesla'}
Zdravím

Ze stránek VZS Jablonec nad Nisou byla vytvořena žádost o nové heslo.

Nové si můžete nastavit na adrese: {link //Sign:restorePassword pubkey => $pubkey}

Tento odkaz bude fungovat do {$date_end|date:'d.m.Y H:i:s'}

-----------------------------------------------------------------------
Tato zpráva byla generována automaticky a není potřeba na ní odpovídat. 
VZS Jablonec