{contentType text/plain; charset=utf-8}
Zdravím

Ze stránek VZS Jablonec nad Nisou byla vytvořena žádost o nové heslo.

Nové si můžete nastavit na adrese: {link //Sign:restorePassword pubkey => $pubkey}

Tento odkaz bude fungovat do {$date_end|date:'H:i:s d.m.Y'}

-----------------------------------------------------------------------
Tato zpráva byla generována automaticky a není potřeba na ní odpovídat. 
VZS Jablonec