{layout layout.latte}
{block text}
{var $mail->subject = '[VZS Jablonec] Obnova hesla'}
Zdravím.

Ze stránek VZS Jablonec nad Nisou byla vytvořena žádost o nové heslo.

Můžete si ho nastavit na adrese: {link //Sign:restorePassword pubkey => $pubkey}

Tento odkaz bude fungovat do {$date_end|date:'H:i:s d.m.Y'}
{/block}