{block #content}
  <article>
  {control restorePasswordForm}

    <p>Tento okaz bude platný přesně do <time datetime="{$date_end|datetimeC}">{$date_end|datetime}</time> (zbývá {$time_remain|date:'%H:%i:%s'})</p>
  </article>
{/block}