Zdravím

Na web byla přidána následující akce:

**{$akce->name} ({$akce->date_start|datetime})**

*{$akce->perex}*

Tato akce není schválena a čeká na Vaše potvrzení. Akci najdete na adrese {link //:Member:Akce:view $akce->id}

Prosím navštivte co nejdříve stránku akce, aby bylo možno se na akci přihlásit.
