Zdravím

Na webu se nově registroval nový uživatel.

**{$user->surname} {$user->name}**

Tento uživatelsý účet není aktivní a čeká na potvrzení.

Jeho profil najdete na adrese {link //:Member:User:view $user->id}

Prosím navštivte co nejdříve jeho profil, aby se mohl případně přihlásit