Zdravím

Ze stránek VZS Jablonec nad Nisou byla vytvořena žádost o obnovu hesla.

Můžete si ho nastavit na adrese: {link //:Account:Sign:restorePassword pubkey => $session->pubkey}

Tento odkaz přestane fungovat cca {$session->date_end|timeAgoInWords} (do {$session->date_end|date:'H:i d.m.Y'})