{if !isset($archive)}{contentType text/x-vcard}{/if}
BEGIN:VCARD
VERSION:2.1
N:{$member->name};{$member->surname}
FN:{$member->surname}, {$member->name}
ORG:VZS CCK MS JBC
TEL;CELL;VOICE:{$member->telefon}
ADR;HOME:;;{$member->ulice};{$member->mesto};;;CZ
EMAIL;PREF;INTERNET:{$member->mail}
END:VCARD