<!DOCTYPE html>
<html lang="cs">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="{$basePath}/img/fav.ico" type="image/x-icon">
  <title>Záznam akce {$akce->name}</title>
  <style type="text/css" media="print,screen" n:syntax="off">
  <!--
    body { font-family: Arial, sans-serif; font-size: 10pt; }
    table { width: 100%; margin-bottom: 1ex;}
    #page { width: 660px;}
    th,td { text-align: left; padding: 3px; font-weight: normal;}
    td img { height: 60px;}
    .up { text-transform: uppercase;}
    h1,h2,h3 { font-size: 12pt; font-weight: bold; margin: 0px;}
    h2 { text-decoration: underline;}
    h3 { font-size: 10pt; text-decoration: underline; text-transform: uppercase; padding: 5px; margin-top: 1em }
    .h1 { border-right: 1px solid black; width: 350px;}
    .h2 { width: 500px;}
    h3 { clear: both; page-break-after: avoid;}
    .hr { border-bottom: 1px solid black; padding-bottom: 5px; }
    .small { font-size: 8pt;}
    .bor1 { border: 1px solid black;}
    .bor2 { border: 2px solid black;}
    .red { width: 50%; float: left; }
    .red .col1 { width: 125px;}
    .red .col2 { width: 200px;}
    div.bor2 { margin: 3px; padding: 5px; height: 170px; overflow: auto;}
    div.half { height: 100px}
    .yellow { background-color: rgb(255,255,153);}
    .under { text-decoration: underline;}
    .col th { width: 120px;}
    .close { width: 100px;}
    .right { text-align: right;}
    #poc { width: 220px;}
    #akce { margin-bottom: 0em;}
    #akce th { text-align: right;}
    #akce .first { width: 50px;}
    #akce .bor1 { width: 20px; font-weight: bold; text-align: center;}
    #comp { border-collapse: collapse; margin: 3px; width: 650px;}
    #comp .col1 { border-style: solid; border-color: black; border-width: 2px 0px 2px 2px; }
    #comp .col2 { border-style: solid; border-color: black; border-width: 2px 0px 2px 0px; }
    #comp .col3 { border-style: solid; border-color: black; border-width: 2px 0px 2px 0px; width: 60px;}
    #comp .col4 { border-style: solid; border-color: black; border-width: 2px 2px 2px 0px; width: 60px;}
    #comp th { border: 1px solid black;}
    #comp td { font-size: 8pt;}
    #comp th#vel { border: none !important;}
    #comp .under, #comp .bor1 { font-size: 10pt;}
  //-->
  </style>
  </head>
  <body>
   <div id="page">
   
   <table class="hr" cellspacing="3">
   <tr><td><img src="{$basePath}/img/vzs.gif" alt="vzs"></td><td class="h1"><h1>Vodní záchranná služba ČČK<br>Jablonec nad Nisou</h1></td>
   <td class="small">
   V.Nezvala 7a, 466 02 Jablonec nad Nisou<br>
   tel: +420 607 962 515<br>
   e-mail: info@vzs-jablonec.cz<br>
   </td></tr>
   </table>
     
   <table cellspacing="3">
   <tr><td class="h2"><h2>Záznam o akci</h2></td><th class="up">Číslo:</th><td class="bor1">{$id}</td></tr>
   </table>

   <table class="col" cellspacing="3">
   <tr><th class="up">Akce</th><td class="bor1 yellow">{$akce->name}</td></tr>
   <tr><th class="up">Druh akce</th><td class="bor1">{if $akce->report_type_id}{$akce->report_type->title|firstUpper}{else}{$akce->type_text|firstUpper}{/if}</td></tr>  
   <tr><th class="up">Místo konání</th><td class="bor1">{$akce->place}</td></tr>
   </table>
   
   <table class="col" cellspacing="3">
   <tr><th class="up">Datum akce</th><td class="bor1">
    {$akce->date_start|date:'%d.%m.%Y'} 
    {if $akce->date_start->diff($akce->date_end)->days} - {$akce->date_end|date:'%d.%m.%Y'}{/if}
   </td><th class="right up">Počasí</th><td id="poc" class="bor1" rowspan="3">
   {$akce->pocasi}
   </td></tr>
   <tr><th class="up">Začátek akce</th><td class="bor1">{$akce->date_start|date:'H:i'}</td><td></td></tr>  
   <tr><th class="up">Konec akce</th><td class="bor1">{$akce->date_end|date:'H:i'}</td><td></td></tr>
   </table>
   
   <table n:if="$akce->osetreni_drobne + $akce->osetreni_vetsi + $akce->osetreni_odvoz"
   class="red" cellspacing="3"><col class="col1"><col><col>
   <tr><th class="up" colspan="3">Ošetření</th></tr>
   <tr n:if="$akce->osetreni_drobne"><th>drobné</th><td class="bor1">{$akce->osetreni_drobne}</td><td></td></tr>
   <tr n:if="$akce->osetreni_vetsi"><th>větší</th><td class="bor1">{$akce->osetreni_vetsi}</td><td></td></tr>  
   <tr n:if="$akce->osetreni_odvoz"><th>s odvozem</th><td class="bor1">{$akce->osetreni_odvoz}</td><td></td></tr>
   </table>
   
   <table n:if="$akce->akce_breh + $akce->akce_voda + $akce->akce_majetek"
   class="red" cellspacing="3"><col class="col2"><col><col>
   <tr><th class="up" colspan="2">Akce na záchranu života</th></tr>
   <tr n:if="$akce->akce_breh"><th>na břehu</th><td class="bor1">{$akce->akce_breh}</td></tr>
   <tr n:if="$akce->akce_voda"><th>ve vodě</th><td class="bor1">{$akce->akce_voda}</td></tr>  
   <tr n:if="$akce->akce_majetek"><th>akce na záchranu majetku</th><td class="bor1">{$akce->akce_majetek}</td></tr>
   </table>
   
   <h3>Popis akce</h3>
   <div class="bor2">
   {$akce->popis|escape|breaklines}
   </div>
   
   <h3>Účastníci</h3>
   
   <table id="comp">
   <col class="col1"><col class="col2"><col class="col3"><col class="col4 close"><col><col>
   <tr><th>jméno</th><th>od - do</th><th>hodiny</th><th>placeno</th><td></td><th class="up" id="vel">Zodpovědná osoba</th></tr>

   <tr n:foreach="$members as $member">
   
   {var $dateFormat = $member->date_start->diff($member->date_end)->days ? '%d.%m.%Y' :' H:i'}
   
   <td>{$member->surname} {$member->name}</td>
   <td>{$member->date_start|date:$dateFormat} - {$member->date_end|date:$dateFormat}</td>
   <td>{$member->hodiny}</td><td>{if $member->placeno}{$member->placeno}{/if}</td>
   <td></td>
   {if $iterator->isFirst()}<td class="bor1">{$akce->ref('member','zos_id')->surname} {$akce->ref('member','zos_id')->name}</td>
   {else}<td></td>{/if}
   {var $placeno += $member->placeno}
   {var $hodiny += $member->hodiny}
   </tr>
    
   <tr><th class="right" colspan="2"><b>celkem hodin</b></th><th>{$hodiny}</th><th>{$placeno}</th>
   <td></td><td class="under">podpis</td></tr>
   </table>
   
   {if $akce->material_ms}
   <h3>Použitý materiál na akce v majetku místní skupiny</h3>
   <div class="bor2">
   {$akce->material_ms|escape|breaklines|noescape}
   </div>
   {/if}
   
   {if $akce->material_cizi}
   <h3>Další použitý materiál</h3>
   <div class="bor2">
   {$akce->material_cizi|escape|breaklines|noescape}
   </div>
   {/if} 
   
   {if $akce->material_ztraty}
   <h3>Ztráty a poškození materiálu</h3>
   <div class="bor2 half">
   {$akce->material_ztraty|escape|breaklines|noescape}
   </div>
   {/if}
   
   {if $akce->doprava}
   <h3>Doprava na akci a způsob její úhrady</h3>
   <div class="bor2 half">
   {$akce->doprava|escape|breaklines|noescape}
   </div>
   {/if}

</div>
 </body>
 </html>