{block #head}
<style type="text/css" n:syntax="off">
	#menu { display: none; }
	#text { margin-left: 0; }
</style>
{/block}

<h1 n:block="title">Přihlášení</h1>

{block #content}
		<p class="center">{if $user->isLoggedIn()}
				Aktuálně jste přihlášen.
			{else}
				Aktuálně nejste přihlášen.
			{/if}
		</p>
{/block}