{block #content}
  
  {control signInForm}

  <hr>
  
  <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
  
  <p>Pokud jsi zapomněl/a své přihlašovací jméno a heslo, tak zadej svůj e-mail,
  a na něj ti přijdou instrukce k jeho obnovení.</p>

  <p class="required"><b>{control forgotPassForm}</p>

{/block}