{block #head}
<style type="text/css" n:syntax="off">
	#menu { display: none; }
	#text { margin-left: 0; }
</style>
{/block}

<h1 n:block="title">Přihlášení</h1>

{block #content}
	{if $user->isLoggedIn()}
		<p class="center">Aktuálně jste přihlášen.</p>
	{else}
		<p class="center">Aktuálně nejste přihlášen. <span n:if="$presenter->action == out" class="center">Pokud se odhlašujete na cizím počítači, odhlašte se raději i z <a n:href=":Account:Sign:">vašeho účtu.</a></span>
		</p>
	{/if}
{/block}