{block #head}
<link rel="stylesheet" href="{$basePath}/css/jquery-ui.custom.css" type="text/css">

<style type="text/css" n:syntax="off">
	form { margin-top: 1em;}
</style>
{/block}

<h1 n:block="title">Změna hesla</h1>

{block #content}

{control passwordForm}

{/block}