{contentType application/xml}
<entry {if (isset($etag))and($etag)}gd:etag="{$etag}"{/if}>
	<batch:operation type="{$type}" n:ifset="$type" />
	<id n:ifset="$id">{$id}</id>
	<category scheme="http://schemas.google.com/g/2005#kind" term="http://schemas.google.com/contact/2008#contact" />
	{if (isset($member))and($member)}
		<gd:name>
			<gd:givenName>{$member->name}</gd:givenName>
			<gd:familyName>{$member->surname}</gd:familyName>
			<gd:fullName>{$member->surname} {$member->name}</gd:fullName>
		</gd:name>
		<gd:email rel="http://schemas.google.com/g/2005#home" primary="true" address="{$member->mail}" displayName="{$member->surname} {$member->name}" />
		<gd:email rel="http://schemas.google.com/g/2005#other" address="{$member->mail2}" n:if="$member->mail2"/>
		<gd:phoneNumber rel="http://schemas.google.com/g/2005#home" primary="true">+420{$member->telefon}</gd:phoneNumber>
		<gd:phoneNumber rel="http://schemas.google.com/g/2005#other" n:if="$member->telefon2">+420{$member->telefon2}</gd:phoneNumber>
		<gd:structuredPostalAddress rel="http://schemas.google.com/g/2005#home" primary="true">
			<gd:city>{$member->mesto}"</gd:city>
			<gd:street>{$member->ulice}"</gd:street>
			<gd:country>Česká republika</gd:country>
			<gd:formattedAddress>{$member->ulice}, {$member->mesto}</gd:formattedAddress>
		</gd:structuredPostalAddress>
		<gd:extendedProperty name="id">{$member->id}</gd:extendedProperty>
	{/if}
</entry>